# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
Untitled.ipynb

# Env / secrets
.env
*.env

# DuckDB
*.db
*.db.wal

# Data
*.parquet
*.csv
spotify_clean.csv

# OS
.DS_Store
Thumbs.db

# Logs
*.log
